*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

header
{
	background-color: DodgerBlue;
	height: 25px;
	padding: 30px;
}

footer
{
	clear: both;
	background-color: DodgerBlue;
	height: 30px;
	text-align: center;
	padding: 10px;
	font-weight: 700;
}

h1
{
	color: #ffffff;
	text-align: center;
	text-shadow: 2px 2px 2px #111111;
	padding: 0px 0px 15px 0px;
}

h2
{
	margin-top: 50px;
	color: #ffffff;
	text-align: center;
	text-shadow: 2px 2px 2px #111111;
	padding: 0px 0px 15px 0px;
}

p
{
	text-align: center;	
	color: #ffffff;
	text-shadow: 2px 2px 2px #111111;
	padding: 0px 0px 15px 0px;
}

#div_principal
{
	clear: both;
	background-image: url('../img/fundao.jpg');
	min-height: 400px;
	padding: 15px 0px 0px 0px;
}

div#server 
{
    display: flex;
    justify-content: center;
	transition: all 500ms;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px #111111;
}

#logo
{
	float: left;
}

#logo img
{
	width: 80px;
	margin-top: -18px;
}

#logo img:hover
{
	transform: scale(1.2); 
	transition: 0.3s;
}

#menu
{
	float: right;
}

#menu a	
{
	padding: 20px;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px #111111;	
}

#menu a:hover
{
	background-color: #1111;
	border-radius: 10px;
}

div#server 
{
    display: flex;
    justify-content: center;
}

.btn-download
{
	margin-right: 6px;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgb(7, 0, 131);
	background-color: dodgerblue ;
	width: 150px;
	height: 45px;
}

.btn-download a
{
	color: white;
	text-decoration: none;
}

.btn-download:hover
{
	background-color: rgb(159, 0, 0);
}

#server img
{
	width: 150px;
}

#server a
{
	padding: 75px;
	margin-right: 15px;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px #111111; 
}

#server img:hover
{
	transform: scale(1.2); 
	border-radius: 10px;
	transition: 0.3s;
}

#btn-exclui
{
	width: 80%;
	height: 80%;
}

#btn-exclui:hover
{
	transform: scale(1.2); 
	border-radius: 10px;
	transition: 0.3s;
	
}

#btn-novo
{
	width: 80%;
	height: 80%;	
}

#btn-novo:hover
{
	transform: scale(1.2); 
	border-radius: 10px;
	transition: 0.3s;
}

#coluna
{
	width: 3%;
}

.container
{
	width: 960px;
	margin: 0 auto;
}

.efeito
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;
}

#btn-cadcliente
{
	text-decoration: none;
	color: red;
}

/* Form da tela de cadastro */

.cadastro
{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cadastro input, select
{
	display: block;
	outline: none;
	width: 300px;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(170, 170, 170);
}

.cadastro select:focus{
	/* border-color: #66afe9; */
    border-top-color: rgb(102, 175, 233);
    border-right-color: rgb(102, 175, 233);
    border-bottom-color: rgb(102, 175, 233);
    border-left-color: rgb(102, 175, 233);
    outline: 0;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.cadastro input:focus{
	/* border-color: #66afe9; */
    border-top-color: rgb(102, 175, 233);
    border-right-color: rgb(102, 175, 233);
    border-bottom-color: rgb(102, 175, 233);
    border-left-color: rgb(102, 175, 233);
    outline: 0;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.cadastro input:focus-visible {
    outline-offset: 0px;
}

.submit input
{
	clear: both;
	margin-right: 6px;
	background-color: dodgerblue ;
	width: 300px;
	height: 30px;
	color: white;
	box-shadow: #111111;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	opacity: 0.6;
}

.submit input:hover
{
	opacity: 1;
	transition: all 400ms;
	/* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

/* Fim da tela de cadastro */



/* Tabelas na pagina de clienteCDSWEB.php */

#customers 
{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 97%;
}

table#customers 
{
    margin: 20px;
}
  
  #customers td, #customers th 
{
border: 1px solid #ddd;
padding: 8px;
}
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th 
{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #0468aa;
color: white;
}

  /* Fim da tabela na pagina clienteCDSWEB.php */


